body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    overflow: hidden;
    background-color: #c0c0c0;
}

.navigation a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	font-size: 15px;
}

.topnav a:hover {
    background-color: rgb(64, 128, 128);
    color: black;
}

.navigation a.active {
	background-color: rgb(0, 128, 128);
	color: black;
}