.info body {
    background-color: rgb(215, 215, 215);
}

.info h1 {
    color: #808080;
}

.info input {
    color: darkslateblue;
}

.info a{
    color: #808080;
}

.text-center {
	text-align: center;
}